:root {
    
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
    --title-font-size: 1.0rem 
    --font-weight: 400;
}


html,
.body {
    font-family: 'Roboto', sans-serif;
   
    height: 100%;
}

body {
    font-family: 'Racing Sans One', cursive;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    background-image: url("/img/1920.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.subtitle {
   font-family: 'Fira Sans',
   sans-serif;
}

content {
    
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* Breakpoints
2560x500 
1200x400 
992x300 
576x200 
375x150
*/

/*------- MEDIA QUERIES-------*/

/* small devices (landscape phones 576px and up) */
@media (min-width: 575.98px) {
    .mainHeader {
        background-image: url(/img/768.png);
        height: 274px;
    }

    @media (min-width:767.98px) {
        .mainHeader {
            background-image: url(/img/768.png);
            height: 374px;
        }

        @media (min-width: 991.98px) {
            .mainHeader {
                background-image: url(/img/1200.png);
                height: 474px;
            }

            @media (min-width:1199.98px) {
                .mainHeader {
                    background-image: url(/img/1200.png);
                    height: 574px;
                }
            }

            @media (min-width:1399.98px) {
                .mainHeader {
                    background-image: url(/img/1920.png);
                    height: 574px;
                }
            }