:root {

    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
    --title-font-size:2.5rem --font-weight: 200;
    
}


html,
body {
    font-family: 'Roboto',
        sans-serif;
    height: 100%;
    color: var(--cf-light);

}

body {
    display: flex;
    flex-direction: column;
}

.bodyBG {
    background-image: url("/img/1920.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.mainTitle {
    font-family: 'Racing Sans One',
        cursive;
    font-size: 6.0rem;
    line-height: 4.25rem ;
}

.subTitle {
    font-family: 'Fira Sans',
        sans-serif;
    font-size: 2.0rem;
    line-height: 2.75rem;
}

.content {

    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: transparent;
}





/* Breakpoints
2560x500 
1200x400 
992x300 
576x200 
375x150
*/

/*------- MEDIA QUERIES-------*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .bgPicture {
        background: url("/img/576.png"), var(--cf-darkblue);
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}

button {
    background-color: var(--cf-highlight);
    border-radius: 82px;
}